/* ブラウザで設定されているスタイルのリセット・共通設定 */
/* 消さないでください */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}
/* スタイルのリセット終了 */

/* サイドバーとメインコンテンツを包むための要素のスタイルを書いてください */
body .container {
  display: flex;
  height: 100vh;
}

/* サイドバーに関連するスタイルを書いてください */
aside {
  width: 256px;
  flex-shrink: 0;
  background-color: #f5f5f5;
  border-right: solid #e0e0e0 1px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

aside .sidebar_header {
  padding: 20px;
  border-bottom: solid #e0e0e0 1px;
}

aside .sidebar_header a {
  font-size: 1.25rem;
  font-weight: 600;
  color: #4f7cac;
  display: flex;
  align-items: center;
  text-decoration: none;
}
/* メインコンテンツに関連するスタイルを書いてください */
main {
  flex: 1;
}

main section .home_header {
  background-color: #ffffff;
  padding: 32px;
  border-bottom: solid 1px #e0e0e0;
  text-align: center;
}

main section .home_header .profile_icon {
  width: 96px;
  height: 96px;
  background-color: #4f7cac;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 24px auto;
}

main section .home_header .profile_icon span {
  font-size: 2.5rem;
  color: #ffffff;
}

main section .home_header h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2f2f2f;
  margin-bottom: 8px;
}

main section .home_header h2 {
  font-size: 1.125rem;
  color: #757575;
  margin-bottom: 24px;
}

main section .message {
  max-width: 672px;
  margin: 0 auto;
  padding: 32px;
  color: #757575;
}

main section .message p {
  margin-bottom: 16px;
}